# Ignore virtual environment
.venv/

# Ignore job applications CSV file
job_applications.csv

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore client_secret files
client_secret
client_secret.*
client_secret.json

